[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
pytest = "==4.2.0"
pytest-html = "==1.20.0"
python-dateutil = "==2.7.5"
rdflib = "==4.2.2"
requests = "==2.21.0"
requests-mock = "==1.5.2"
3-6-0 = "*"
3-6-5 = "*"

[requires]
python_version = "3.7"
